[submodule "lib/chibios"]
	path = lib/chibios
	url = https://github.com/qmk/ChibiOS
[submodule "lib/chibios-contrib"]
	path = lib/chibios-contrib
	url = https://github.com/qmk/ChibiOS-Contrib
[submodule "lib/ugfx"]
	path = lib/ugfx
	url = https://github.com/qmk/uGFX
[submodule "lib/googletest"]
	path = lib/googletest
	url = https://github.com/google/googletest
[submodule "keyboards/ergodox/keymaps/rinx"]
	path = keyboards/ergodox/keymaps/rinx
	url = git@github.com:rinx/qmk_firmware_ergodox_rinx.git
