[submodule "lib/chibios"]
	path = lib/chibios
	url = https://github.com/qmk/ChibiOS
[submodule "lib/chibios-contrib"]
	path = lib/chibios-contrib
	url = https://github.com/qmk/ChibiOS-Contrib
	branch = k-type-fix
[submodule "lib/ugfx"]
	path = lib/ugfx
	url = https://github.com/qmk/uGFX
[submodule "lib/googletest"]
	path = lib/googletest
	url = https://github.com/google/googletest
[submodule "keyboards/ergodox/keymaps/rinx"]
	path = keyboards/ergodox/keymaps/rinx
	url = git@github.com:rinx/qmk_firmware_ergodox_rinx.git
[submodule "keyboards/lets_split/keymaps/rinx"]
	path = keyboards/lets_split/keymaps/rinx
	url = git@github.com:rinx/qmk_firmware_letssplit_rinx.git
[submodule "keyboards/gherkin/keymaps/rinx"]
	path = keyboards/gherkin/keymaps/rinx
	url = git@github.com:rinx/qmk_firmware_gherkin_rinx.git
[submodule "keyboards/ergodox_ez/keymaps/rinx"]
	path = keyboards/ergodox_ez/keymaps/rinx
	url = git@github.com:rinx/qmk_firmware_ergodox_rinx.git
